.topmenu {
    /* Top Menu */
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    .Logo2 {
      position: absolute;
      width: 122px;
      height: 34px;
      left: 151px;
      top: 23px;
    }
    .About {
      /* About */
      position: absolute;
      height: 17px;
      left: 0%;
      right: 91.45%;
      top: calc(50% - 17px/2);
      font-family: Aileron;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      letter-spacing: 0.2px;
      color: #3B3A40;
    }
    
    .Product {
      /* Product */
      position: absolute;
      height: 17px;
      left: 18.8%;
      right: 70.3%;
      top: calc(50% - 17px/2);
      font-family: Aileron;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      letter-spacing: 0.2px;
      color: #3B3A40;
    }
    
    .Pricing {
      /* Pricing */
      position: absolute;
      height: 17px;
      left: 40.17%;
      right: 50%;
      top: calc(50% - 17px/2);
      font-family: Aileron;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      letter-spacing: 0.2px;
      color: #3B3A40;
    }
    
    .Resources {
      /* Resources */
      position: absolute;
      height: 17px;
      left: 60.26%;
      right: 25.43%;
      top: calc(50% - 17px/2);
      font-family: Aileron;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      letter-spacing: 0.2px;
      color: #3B3A40;
    }
    
    .Customers {
      /* Customers */
      position: absolute;
      height: 17px;
      left: 85.04%;
      right: 0%;
      top: calc(50% - 17px/2);
      font-family: Aileron;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      letter-spacing: 0.2px;
      color: #3B3A40;
    }
    
    .Login {
      /* Login */
      position: absolute;
      height: 17px;
      left: 72.97%;
      right: 24.39%;
      top: calc(50% - 17px/2 + 0.5px);
      font-family: Aileron;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      letter-spacing: 0.2px;
      color: #3B3A40;
    }
      
  .btn_StartTrialDiv {
    position: absolute;
    left: 78.83%;
    right: 10.49%;
    top: 31.25%;
    bottom: 26.25%;
    width: 170px;
    height: 42px;
  }
  
  .btn_StartTrial {
    /* Rectangle */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  
  .trialText {
    /* Start free trial */
    position: absolute;
    left: 9.6%;
    right: 9.6%;
    font-family: Aileron;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #3B3A40;
  }
   
  .rectangleTrial {
    /* Rectangle */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  }

  
 
  
  .Group33 {
    position: absolute;
    left: 33.75%;
    right: 33.75%;
    top: 40%;
    bottom: 38.75%;
    width: 440px;
  }
  

  

 